* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 80px auto;
}

.page-header {
  background-color: #011434;
  display: grid;
  align-items: center;
}

.header-image {
  max-height: 50px;
  margin-left: 30px;
}

main {
  background-color: #fff;
  display: grid;
  place-items: center;
}

section {
  height: auto;
  border: 5px solid black;
  width: 300px;
  display: grid;
  position: relative;
  border-radius: 20px;
}

.section-logo-image {
  max-height: 50px;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 50%;
}

.laptop-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 14px 14px 0 0;
}

.social-media-icons {
  float: right;
  margin-right: 10px;
}
